      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Tc Full Integration</h1>
        <p>Tc é uma plataforma que simplifica o entendimento entre o dono do projeto e os desenvolvedores.</p>
        <p><a class="btn btn-primary btn-large">Leia mais &raquo;</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>Gerenciamento Ágil</h2>
           <p>TcFI é uma ferramenta de gerenciamento de projeto de acordo com as metodologias ágeis mais atuais do mercado. </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Integrados teste</h2>
           <p>TcFI possui ferramentas para integrar os testes funcionais da aplicação ao códigos RoR garantindo mais segurança aos stackholders.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
       </div>
        <div class="span4">
          <h2>Heading</h2>
          <p>.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
